
<!-- Portfolio Grid Section -->
<section id="blogIndex">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Blog</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                {% for post in site.posts %}
                <div class="blog-card">
                    <h3>{{ post.title }}</h3>
                    <p>
                        <span> Posted at: {{post.date| date: "%-d %B %Y" }} </span>
                        <span> Category: {{post.category}} </span>
                    </p>
                    <p class="content">
                        {{post.description }}
                    </p>
                    <a href="{{post.url}}" class="btn btn-md btn-primary ">
                        Read More
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
