
<!-- Portfolio Grid Section -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Blog</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                {% for post in site.posts %}
                <div class="project">
                    <h3>{{ post.title }}</h3>
                    <a href="{{post.url}}">
                        {{ post.description }}
                    </a>
                    <p> 
                        <span> Posted at: {{post.dates}} </span>
                        <span> Category: {{post.category}} </span>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
