 <!-- Portfolio Modals -->
 {% for project in site.projects %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ project.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ project.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ project.img }}" class="img-responsive img-centered" alt="{{ project.alt }}">
                            {% if project.description %}
                                <p>{{ project.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if project.project-date %}
                                    <li>Date:
                                        <strong><a href="http://startbootstrap.com">{{ project.project-date }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if project.category %}
                                    <li>Service:
                                        <strong><a href="http://startbootstrap.com">{{ project.category }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            <div class="project-content">
                                {{project.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}